@charset "UTF-8";

body {
  background-color: #fcebb6;
  word-break: break-all;
}

/*----------community-検索機能-投稿ページへ移動ボタン＆----------*/
.search {
  background-color: #dfc67c;
}

.search_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  margin: 0 10%;
}

.search_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_form {
  font-size: 18px;
  padding: 5px 5px;
  border: none;
  outline: none;
}

.search_but button {
  border: none;
  border-left: solid 1px black;
  width: 70px;
  padding: 5px 0;
  pointer-events: fill;
  cursor: pointer;
  background-color: #ffff;
}

.search_but button:hover {
  background-color: #d1c7bf;
  transition: 0.5s;
  cursor: pointer;
}

.post_but button {
  border: none;
  border-radius: 25px;
  background-color: #fab341;
}

.post_but button a {
  text-decoration: none;
  display: inline-block;
  color: #5e412f;
  padding: 10px 20px;
  font-size: 20px;
}

.post_but button:hover {
  background-color: #f07818;
  transition: 0.5s;
  cursor: pointer;
}

/*------------community-投稿一覧-----------*/

.community {
  margin: auto 20%;
  margin-top: 30px;
}

.community a{
  display: block;
  width: 100%;
  text-align: none;
  text-decoration: none;
}

.community .post_list {
  display:flex;
  justify-content:space-between;
  max-width: 100%;
  background-color: #f9f9cf;
  height: 150px;
}

.post_name_wrappe{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 10px 0 0 20px;
}

.post_name{
  color: #858D4D;
  font-size: 27px;
  letter-spacing: 3px;
}

.post_time {
  margin: 0 20px 0 0;
  font-size:20px ;
  color:#858D4D;
}

.post_good{
  margin-left:150px;
  font-size:17px ;
  color:#858D4D;
}

.post_content{
  font-size: 19px;
  letter-spacing: 5px;
  line-height:1.3;
  color: #858D4D;
  margin:10px 0 0 20px;
  height: 95px;
  overflow: hidden;
}

.post_img_wrappe{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_img_a{
  margin-right:15px;
}

.post_img{
  width: 120px;
  height: 120px;
}

.page{
  display: flex;
  justify-content: center;
  margin:50px 0;
}

.page_but button{
  border-radius: 50px;
  background-color: #fab341;
  border: none;
  
}

.page_but button a{
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
  display: inline-block;
  color:#5e412f;
}

.page_but button:hover{
  background-color: #f07818;
  transition: 1s;
  cursor: pointer;
}

.page_back{
  margin-right: 20px;
}

.page_next{
  margin-left:20px;
}