@charset "UTF-8";

body{
  background-color: #fcebb6; 
}

header{
  margin-bottom: 50px;
}

.detail_content{
  background-color: #F9F9CF;
  width:65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.detail_name_wrappe{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 0;
  height:40px;
}

.detail_name{
  color: #858D4D;
  font-size: 40px;
  letter-spacing: 3px;
  margin-left: 20px;
}

.detail_time{
  color: #858D4D;
  font-size: 20px;
  margin-right: 20px;
}

.library_time{
  color: #858D4D;
  font-size: 23px;
  margin-left: 20px;
}

.detail_img_wrappe{
  background-color: #F9F9CF;
}

.detail_img{
  margin-left: 20px;
  padding-bottom: 20px;
  width: 250px;
  height: 250px;
}

.detail_message_wrappe{
  margin-left: 20px;
  margin-right: 20px;
}

.detail_message{
  width:100%;
  padding-bottom: 25px;
  font-size: 20px;
  letter-spacing:5px;
  line-height:2;
  overflow: hidden;
}

.detail_blank{
  color: #858D4D;
  font-size: 30px;
  text-align: center;
}

form{
  width:65%;
  margin-left: auto;
  margin-right: auto;
}

.but {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-bottom:25px;
}

/*戻るボタン*/
.back_but_wrappe .back_but {
  border: none;
  border-radius: 25px;
  background-color: #fab341;
}

.back_but_wrappe .back_but a {
  text-decoration: none;
  display: inline-block;
  color: #5e412f;
  padding: 5px 10px;
  font-size: 20px;
}

.back_but_wrappe .back_but:hover {
  background-color: #f07818;
  transition: 0.5s;
  cursor: pointer;
}

/*いいねボタン*/
.good_but{
  display: flex;
  align-items:center;
}

.good_but .none , .good_but .red {
  border: none;
  background-color: #ffffff00;
}

.none , .red{
  display: flex;
  align-items: center;
}

.good_but .none:hover , .good_but .red:hover{
  opacity: 0.5;
  transition:0.5s;
}



.good_cnt{
  font-size: 26px;
  margin-left: 10px;
}

.cnt_red{
  color:#FF0080;
}